
body {
  background-color: #102d31; /* Устанавливаем чёрный фон */
}
/* Основные стили для контейнера */
.container {
  display: grid;
  grid-template-columns: 3fr 1fr; /* Два блока в первой строке, третий в отдельной строке */
    grid-template-rows: 3fr 1fr;
  height: 100vh; /* Высота контейнера на весь экран */
  width: 100%;
    gap: 20px;
}


/* Стили для второго блока */
.list {
  grid-row: 1; /* Второй блок в первой строке */
  grid-column: 2; /* Устанавливаем на вторую колонку */
overflow: auto;
    display: grid;
  gap: 10px; /* расстояние между элементами */
  grid-template-rows: repeat(auto-fill, 20%);

    background-color: #254e58;
            padding: 25px;
            border-radius: 20px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:white;
    font-size: 20px;
}

.list-box
{
  width: 100%; /* элемент растягивается на всю ширину ячейки */
  position: relative;
  box-sizing: border-box; /* чтобы padding не увеличивал размер */

  background-color: #102d31;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  font-size: 20px;


}
.list-box:hover {
      transform: scale(1.1); /* Увеличение на 20% */
    }

/* Стили для третьего блока */
.info-panel {
  grid-row: 2; /* Третий блок в отдельной строке */
  grid-column: 1 / -1; /* Занимает всю ширину */
overflow: auto;
    background-color: #254e58;
            padding: 25px;
            border-radius: 20px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:white;
    font-size: 20px;
}

.scene {
  grid-row: 1; /* Первый блок в первой строке */
  grid-column: 1; /* Устанавливаем на первую колонку */
overflow: auto;
  display: grid;
  grid-template-columns: repeat(4, 24%); /* 4 столбца */
  gap: 10px; /* расстояние между элементами */

  background-color: #254e58;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  font-size: 20px;

  /* Устанавливаем ограничение высоты для .scene */
  position: relative;
}

.scene-box {
  width: 100%; /* элемент растягивается на всю ширину ячейки */
  aspect-ratio: 1; /* высота будет равна ширине */
  position: relative;
  box-sizing: border-box; /* чтобы padding не увеличивал размер */

  background-color: #102d31;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  font-size: 20px;
}
.scene-box:hover{
  transform: scale(1.1);
}